.DS_Store

# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Terraform variable values
terraform/terraform.tfvars

# Local presentation screenshots
presentation-screenshots/
